<h1>{{spaceShip.modelName}}</h1>
<img class="avatar" *ngIf="spaceShip.pilot && spaceShip.pilot.imageUrl" [src]="spaceShip.pilot.imageUrl">
<img  appSpaceImage [src]="spaceShip.imageUrl">
<div class="health" [title]="'Health ' + spaceShip.health + '%'">
  <div class="health-bar" [style.width.%]="spaceShip.health"></div>
</div>

<div class="property" [class.active]="spaceShip.activeShields">
    {{spaceShip.activeShields | tickize}}
  SHIELDS
</div>
<div class="property" [class.active]="spaceShip.activeWeapons">
    {{spaceShip.activeWeapons | tickize}}
  WEAPONS
</div>
<div class="actions">
  <ng-content></ng-content>
</div>
